.likes {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 1rem;
}

.likes button {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}

.likes button:hover svg > * {
  fill-opacity: 1;
  stroke: #f31;
  stroke-width: 2;
  outline: none;
}

.likesOpacity button:hover svg > * {
  fill-opacity: 0.3;
  stroke: #f31;
  stroke: none;
  outline: none;
}

.likesOpacity button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid transparent;
  outline: none;
  cursor: default;
}

.likesOpacity span {
  font-size: 1rem;
  font-weight: normal;
}

.curtidas button:hover svg > * {
  fill-opacity: 0.79;
  stroke: #f31;
  stroke-width: 0;
}

.curtidas button {
  cursor: default;
}

.curtidas span:nth-child(1) {
  font-size: 0.875rem;
  font-weight: normal;
}

.curtidas span:nth-child(3) {
  font-size: 1rem;
  font-weight: normal;
}

.likes svg {
  margin: 0 1rem;
}


