.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: flex-end;
  gap: .5rem;
}

.container svg {
  display: block;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.arrow {
  opacity: 0.5;
}

.arrowUp svg {
  transform: rotate(180deg);
}

.options {
  height: 0pxm;
  transition: height 4s linear;
  transform: translateX(-20px);
  animation: options .5s ease forwards;
}

@keyframes options {
  to {
    transform: initial;
  }
}

