.form {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
}

.singlePhoto.form {
  padding: 0px 0px .5rem 0px;
}

.textarea {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  resize: none;
  background: #eee;
  font-size: 1rem;
  font-family: var(--type-first);
  padding: 0.5rem;
  border-radius: 0.2rem;
  transition: .2s;
}

.textarea:focus,
.textarea:hover {
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 3px #fea;
}

.button {
  border: 1px solid transparent;
  border-radius: 0.2rem;
  overflow: hidden;
  font-size: 1rem;
  background: #eee;
  padding: 0 1rem;
  cursor: pointer;
  color: #333;
  margin-left: .4rem;
}

.button:focus,
.button:hover {
  border-radius: 0.2rem;
  transition: .2s;
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 3px #fea;
}

.button:focus svg path,
.button:hover svg path {
  fill: #fb1;
  stroke: #fea;
}


.button:focus svg g,
.button:hover svg g {
  animation: latir .6s infinite;
}

@keyframes latir {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}




